---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import OtherProjects from "../components/OtherProjects.astro";
import Newsletter from "../components/Newsletter.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main class="flex-1">
    <Hero />
    <Experience />
    <Education />
    <Skills />
    <Projects />
    <OtherProjects />
    <Newsletter />
  </main>
  <Footer />
</Layout>
